<%= simple_form_for(@castle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :castle_name_en %>
  <%= f.input :castle_name_ja %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
